// Navigation code here

nav {
    @media @mobile {
        .flex_it();
        flex-wrap: wrap;
        justify-content: center;
        background-color: #F6F6F6;
        .fix_nav();
        a {
            text-decoration: inherit;
            color: inherit;
            padding: 2% 5% 2% 5%;
            li {
                list-style: none;
            }
            &:first-child {
                width: 100%;
                text-align: center;
            }
        }
    }

    @media @laptop {
        .flex_it();
        flex-wrap: wrap;
        justify-content: center;
        // margin: 800px;
        background-color: #F6F6F6;
        margin: auto;
        .fix_nav();
        a {
            font-size: 1.5em;
            text-decoration: inherit;
            color: inherit;
            padding: 1% 2%;
            li {
                list-style: none;
            }
            &:first-child {
                width: 100%;
                text-align: center;
            }
        }
    }

}